.card-body_front > .theStar_17{
    position: absolute;
    top: -1px;
    left: calc(50% - 22.225px);
    color: var(--cards-border);
    font-size: 2rem;
}
.card-body_front > .theMagician_1{
    position: absolute;
    top: 1px;
    left: calc(50% - 3.9px);
    color: var(--cards-border);
    font-size: 2rem;
}
.card-body_front > .theWorld_21{
    position: absolute;
    top: -3px;
    left: calc(50% - 18.335px);
    color: var(--cards-border);
    font-size: 2rem;
}
.card-body_front > .death_13{
    position: absolute;
    top: -1px;
    left: calc(50% - 18.9px);
    color: var(--cards-border);
    font-size: 2rem;
}